<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @temperature_sensor.address %>
</p>

<p>
  <b>Temperature:</b>
  <%= @temperature_sensor.temperature %>
</p>

<p>
  <b>Time:</b>
  <%= @temperature_sensor.time %>
</p>


<%= link_to 'Edit', edit_temperature_sensor_path(@temperature_sensor) %> |
<%= link_to 'Back', temperature_sensors_path %>
